footer.footer
    .footer-block 
        h3 Listen to some tunes! Endless Bummer out now! 
        .social-links
            a(href="https://open.spotify.com/artist/5EWhTARNwhAbmnureCtgfQ"): svg: use(xlink:href="img/dunies-sprite.svg#spotify")
            a(href="https://music.apple.com/us/artist/dunies/1166684590"): svg: use(xlink:href="img/dunies-sprite.svg#apple")
            a(href="https://www.facebook.com/duniesband"): svg: use(xlink:href="img/dunies-sprite.svg#facebook")
            a(href="https://www.instagram.com/duniesband/"): svg: use(xlink:href="img/dunies-sprite.svg#instagram")
            a(href="https://www.tiktok.com/@duniesband"): svg: use(xlink:href="img/dunies-sprite.svg#tiktok")
            a(href="https://twitter.com/duniesband"): svg: use(xlink:href="img/dunies-sprite.svg#twitter")