header
    nav.header-nav
        .logo
            a(href="/"): img(src="/img/logo.png", alt="band logo")             
        .menu
            ul(role="list")
                li: a(href="#shows"): span.menu__item shows
                li: a(href="https://duniesband.myshopify.com/" target="_blank"): span.menu__item merch
                li: a(href="#footer"): span.menu__item music
                
            
            
