a:link, a:visited {
  text-decoration: none; }

.menu__cta {
  cursor: pointer;
  border-radius: 100vmax;
  padding: 0.5rem 2.2rem;
  font-size: 1.6rem; }

.menu__cta:hover {
  transition: all 0.3s; }

.sticky {
  background-color: #292828; }

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }
  @media (max-width: 81.25em) {
    html {
      font-size: 60%; } }
  @media (max-width: 75em) {
    html {
      font-size: 58%; } }
  @media (max-width: 43.75em) {
    html {
      font-size: 54%; } }

body {
  grid-column: full-start / full-end;
  text-rendering: optimizeSpeed;
  font-family: Roboto Slab, serif;
  font-weight: 300;
  line-height: 1.5;
  position: relative; }

main {
  grid-column: full-start / full-end;
  min-height: 100vh; }

section {
  background-color: #f9f9f9; }

ul[role="list"],
ol[role="list"] {
  list-style: none; }

input,
button,
textarea,
select {
  font-family: Roboto Slab, serif; }

img,
picture {
  max-width: 100%;
  display: block; }

svg {
  aspect-ratio: 1; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }

header {
  grid-column: full-start / full-end;
  position: sticky;
  top: 0;
  transition: background-color 0.6s;
  height: 7.5rem;
  z-index: 99;
  background-color: transparent;
  padding: 1rem 7.5rem;
  display: flex;
  align-items: center; }
  @media (max-width: 37.5em) {
    header {
      padding: 1rem 2rem; } }

.header-nav {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: space-between; }

.logo img {
  height: 5.5rem; }

.menu ul {
  display: flex;
  align-items: center;
  grid-gap: 2rem; }

.menu__item {
  font-size: clamp(12px, 1.6rem, 9rem);
  font-weight: 400;
  color: #f9f9f9;
  font-size: 1.6rem;
  font-weight: 400;
  color: #f9f9f9;
  text-transform: uppercase; }

.menu__cta {
  border: 2px solid #fff;
  color: #fff;
  background-color: transparent;
  text-transform: uppercase; }
  .menu__cta:hover {
    background-color: #ffed76;
    border-color: #ffed76;
    color: #fff; }

footer {
  display: grid;
  grid-template-columns: [full-start] minmax(1.4rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [content-end] minmax(1.4rem, 1fr) [full-end];
  grid-column: full-start / full-end;
  background-color: #292828;
  padding: 3rem 0rem; }

.footer-block {
  grid-column: content-start / content-end;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; }
  .footer-block h3 {
    font-size: clamp(12px, 1.6rem, 9rem);
    font-weight: 400;
    color: #f9f9f9;
    font-size: 1.6rem;
    font-weight: 400;
    color: #f9f9f9;
    margin-bottom: 2rem; }

.social-links {
  display: flex; }
  .social-links svg {
    fill: #f9f9f9;
    width: 2.4rem;
    height: 2.4rem;
    margin: 0rem 1rem;
    cursor: pointer; }
    .social-links svg:hover {
      fill: #ffed76;
      transition: all 0.4s; }

#hero {
  grid-column: full-start / full-end;
  background-image: linear-gradient(to top, #141414, rgba(20, 20, 20, 0.2)), url(../img/hero.jpg);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -7.5rem; }
  @media (max-width: 43.75em) {
    #hero {
      background-image: linear-gradient(to top, #141414, rgba(20, 20, 20, 0.2)), url(../img/hero-mobile.jpg); } }

.cta-button {
  display: flex;
  align-items: center;
  justify-content: center; }
  .cta-button a {
    margin-right: 1rem;
    font-size: clamp(12px, 1.9rem, 9rem);
    font-weight: 400;
    color: #f9f9f9;
    font-size: 1.9rem;
    font-weight: 400;
    color: #f9f9f9; }
  .cta-button svg {
    fill: #f9f9f9;
    height: 2.6rem;
    width: 2.6rem;
    cursor: pointer; }
  .cta-button:hover a {
    color: #ffed76;
    transition: all 0.4s; }
  .cta-button:hover svg {
    fill: #ffed76;
    transition: all 0.4s; }

#merch {
  display: grid;
  grid-template-columns: [full-start] minmax(1.4rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [content-end] minmax(1.4rem, 1fr) [full-end];
  grid-column: full-start / full-end;
  background-color: #141414;
  padding: 4rem 0rem; }

.merch-block {
  grid-column: content-start / content-end;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 6rem; }
  .merch-block p {
    font-size: clamp(12px, 1.6rem, 9rem);
    font-weight: 400;
    color: #f9f9f9;
    font-size: 1.6rem;
    font-weight: 400;
    color: #f9f9f9;
    text-align: center;
    margin-bottom: 6rem; }
  .merch-block a {
    color: #f9f9f9;
    font-size: 1.6rem;
    border-radius: 100vmax;
    border: 2px solid #f9f9f9;
    padding: 1.2rem 2rem;
    text-transform: uppercase;
    align-self: center;
    margin-bottom: 4rem; }
    .merch-block a:hover {
      color: #ffed76;
      border: 2px solid #ffed76;
      transition: all 0.4s; }
  @media (max-width: 43.75em) {
    .merch-block {
      padding: 0rem 1rem; } }
  @media (max-width: 18.75em) {
    .merch-block a {
      font-size: 1.2rem; } }

#shows {
  display: grid;
  grid-template-columns: [full-start] minmax(1.4rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [content-end] minmax(1.4rem, 1fr) [full-end];
  grid-column: full-start / full-end;
  background-color: #141414;
  padding: 4rem 0rem; }

.shows-block {
  grid-column: content-start / content-end;
  background-color: #292828;
  border-radius: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: min-content; }
  .shows-block__photo {
    border-radius: 2rem 0rem 0rem 2rem;
    background-image: url(../img/party.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; }
    @media (max-width: 43.75em) {
      .shows-block__photo {
        grid-column: 1 /-1;
        grid-row: 2/ 2;
        height: 60rem;
        border-radius: 0rem 0rem 2rem 2rem;
        background-position: top; } }
  .shows-block__content {
    padding: 4rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 60rem; }
    .shows-block__content h2 {
      font-size: clamp(12px, 3rem, 9rem);
      font-weight: 400;
      color: #f9f9f9;
      font-size: 3rem;
      font-weight: 400;
      color: #f9f9f9;
      margin-bottom: 3rem;
      text-transform: capitalize; }
    .shows-block__content p {
      font-size: clamp(12px, 1.6rem, 9rem);
      font-weight: 400;
      color: #f9f9f9;
      font-size: 1.6rem;
      font-weight: 400;
      color: #f9f9f9;
      justify-self: center; }
    @media (max-width: 43.75em) {
      .shows-block__content {
        grid-column: 1 / -1;
        grid-row: 1/ 1;
        min-height: 5rem;
        text-align: center; } }

.show-information__event {
  width: 100%;
  height: fit-content;
  padding: 2rem;
  background-color: #515151;
  border-radius: 0.8rem; }
  .show-information__event h3 {
    font-size: clamp(12px, 2.6rem, 9rem);
    font-weight: 400;
    color: #f9f9f9;
    font-size: 2.6rem;
    font-weight: 400;
    color: #f9f9f9;
    font-size: 2.5rem;
    text-transform: capitalize; }
  .show-information__event__date {
    font-size: clamp(12px, 1.6rem, 9rem);
    font-weight: 400;
    color: #f9f9f9;
    font-size: 1.6rem;
    font-weight: 400;
    color: #f9f9f9;
    margin-bottom: 3rem; }
  .show-information__event__ticket {
    color: #ffed76;
    font-size: 1.9rem;
    text-transform: uppercase; }
  .show-information__event__purchase {
    color: #f9f9f9;
    font-size: 1.9rem;
    border-radius: 20rem;
    border: 2px solid #f9f9f9;
    padding: 0.5rem 3rem;
    text-transform: uppercase;
    background-color: rgba(249, 249, 249, 0.2); }
    .show-information__event__purchase:hover {
      color: #ffed76;
      border: 2px solid #ffed76;
      background-color: rgba(255, 237, 118, 0.2);
      transition: all 0.4s; }
    .show-information__event__purchase:link, .show-information__event__purchase:visited {
      text-decoration: none; }
  .show-information__event:not(:last-of-type) {
    margin-bottom: 1rem; }
  @media only screen and (max-width: 62.5em) {
    .show-information__event {
      text-align: center; } }

#story {
  display: grid;
  grid-template-columns: [full-start] minmax(1.4rem, 1fr) [content-start] repeat(8, [col-start] minmax(min-content, 18rem) [col-end]) [content-end] minmax(1.4rem, 1fr) [full-end];
  grid-column: full-start / full-end;
  background-color: #141414;
  padding: 4rem 0rem; }

.story-content-block {
  grid-column: content-start / col-end 4; }
  .story-content-block h2 {
    margin-bottom: 4rem; }
  @media only screen and (max-width: 62.5em) {
    .story-content-block {
      grid-column: content-start / content-end;
      padding-bottom: 6rem;
      text-align: center; } }

.story-photo-block {
  grid-column: col-start 5 / content-end;
  display: flex;
  justify-content: flex-end; }
  .story-photo-block img {
    width: 50%;
    object-fit: contain; }
